run = "php -S localhost:8000 -t public"
[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true

[deployment]
run = ["sh", "-c", "php -S localhost:8000 -t public"]
